RFSystem/Web References/rfid2021Service/rfidService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sendMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_serviceid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_BxUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_BxUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_BxJobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_inDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendMsgResult" type="tns:MessagePack" />
            <s:element minOccurs="0" maxOccurs="1" name="_outDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MessagePack">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="sendMsgNotOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_serviceid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_BxUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_BxUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_BxJobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_inDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMsgNotOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendMsgNotOutResult" type="tns:MessagePack" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="privilidge">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PrintBin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintLabel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CGSH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CGRK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DGRK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YCRK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PANDIAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCLL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DGCK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DBGCK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BYD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HWCX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PCCX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DJKTH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isAdmin" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:MessagePack" />
            <s:element minOccurs="0" maxOccurs="1" name="BxUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BxUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BxJobId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PrivateStr" type="tns:privilidge" />
            <s:element minOccurs="0" maxOccurs="1" name="DbConnStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvPhysic">
        <s:complexType />
      </s:element>
      <s:element name="getInvPhysicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvPhysicResult" type="tns:MessagePack" />
            <s:element minOccurs="0" maxOccurs="1" name="_outDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBxUsers">
        <s:complexType />
      </s:element>
      <s:element name="getBxUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBxUsersResult" type="tns:MessagePack" />
            <s:element minOccurs="0" maxOccurs="1" name="_outDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="currDate">
        <s:complexType />
      </s:element>
      <s:element name="currDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="currDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPrint">
        <s:complexType />
      </s:element>
      <s:element name="getPrintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPrintResult" type="tns:MessagePack" />
            <s:element minOccurs="0" maxOccurs="1" name="_outDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWarehouse">
        <s:complexType />
      </s:element>
      <s:element name="getWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWarehouseResult" type="tns:MessagePack" />
            <s:element minOccurs="0" maxOccurs="1" name="_outDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShiperReceiver">
        <s:complexType />
      </s:element>
      <s:element name="getShiperReceiverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShiperReceiverResult" type="tns:MessagePack" />
            <s:element minOccurs="0" maxOccurs="1" name="_outDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendMsgSoapIn">
    <wsdl:part name="parameters" element="tns:sendMsg" />
  </wsdl:message>
  <wsdl:message name="sendMsgSoapOut">
    <wsdl:part name="parameters" element="tns:sendMsgResponse" />
  </wsdl:message>
  <wsdl:message name="sendMsgNotOutSoapIn">
    <wsdl:part name="parameters" element="tns:sendMsgNotOut" />
  </wsdl:message>
  <wsdl:message name="sendMsgNotOutSoapOut">
    <wsdl:part name="parameters" element="tns:sendMsgNotOutResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="getInvPhysicSoapIn">
    <wsdl:part name="parameters" element="tns:getInvPhysic" />
  </wsdl:message>
  <wsdl:message name="getInvPhysicSoapOut">
    <wsdl:part name="parameters" element="tns:getInvPhysicResponse" />
  </wsdl:message>
  <wsdl:message name="getBxUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getBxUsers" />
  </wsdl:message>
  <wsdl:message name="getBxUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getBxUsersResponse" />
  </wsdl:message>
  <wsdl:message name="currDateSoapIn">
    <wsdl:part name="parameters" element="tns:currDate" />
  </wsdl:message>
  <wsdl:message name="currDateSoapOut">
    <wsdl:part name="parameters" element="tns:currDateResponse" />
  </wsdl:message>
  <wsdl:message name="getPrintSoapIn">
    <wsdl:part name="parameters" element="tns:getPrint" />
  </wsdl:message>
  <wsdl:message name="getPrintSoapOut">
    <wsdl:part name="parameters" element="tns:getPrintResponse" />
  </wsdl:message>
  <wsdl:message name="getWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:getWarehouse" />
  </wsdl:message>
  <wsdl:message name="getWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:getWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="getShiperReceiverSoapIn">
    <wsdl:part name="parameters" element="tns:getShiperReceiver" />
  </wsdl:message>
  <wsdl:message name="getShiperReceiverSoapOut">
    <wsdl:part name="parameters" element="tns:getShiperReceiverResponse" />
  </wsdl:message>
  <wsdl:portType name="rfidServiceSoap">
    <wsdl:operation name="sendMsg">
      <wsdl:input message="tns:sendMsgSoapIn" />
      <wsdl:output message="tns:sendMsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMsgNotOut">
      <wsdl:input message="tns:sendMsgNotOutSoapIn" />
      <wsdl:output message="tns:sendMsgNotOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvPhysic">
      <wsdl:input message="tns:getInvPhysicSoapIn" />
      <wsdl:output message="tns:getInvPhysicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBxUsers">
      <wsdl:input message="tns:getBxUsersSoapIn" />
      <wsdl:output message="tns:getBxUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="currDate">
      <wsdl:input message="tns:currDateSoapIn" />
      <wsdl:output message="tns:currDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPrint">
      <wsdl:input message="tns:getPrintSoapIn" />
      <wsdl:output message="tns:getPrintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getWarehouse">
      <wsdl:input message="tns:getWarehouseSoapIn" />
      <wsdl:output message="tns:getWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShiperReceiver">
      <wsdl:input message="tns:getShiperReceiverSoapIn" />
      <wsdl:output message="tns:getShiperReceiverSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="rfidServiceSoap" type="tns:rfidServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendMsg">
      <soap:operation soapAction="http://tempuri.org/sendMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMsgNotOut">
      <soap:operation soapAction="http://tempuri.org/sendMsgNotOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvPhysic">
      <soap:operation soapAction="http://tempuri.org/getInvPhysic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBxUsers">
      <soap:operation soapAction="http://tempuri.org/getBxUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="currDate">
      <soap:operation soapAction="http://tempuri.org/currDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrint">
      <soap:operation soapAction="http://tempuri.org/getPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouse">
      <soap:operation soapAction="http://tempuri.org/getWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShiperReceiver">
      <soap:operation soapAction="http://tempuri.org/getShiperReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rfidServiceSoap12" type="tns:rfidServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendMsg">
      <soap12:operation soapAction="http://tempuri.org/sendMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMsgNotOut">
      <soap12:operation soapAction="http://tempuri.org/sendMsgNotOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvPhysic">
      <soap12:operation soapAction="http://tempuri.org/getInvPhysic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBxUsers">
      <soap12:operation soapAction="http://tempuri.org/getBxUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="currDate">
      <soap12:operation soapAction="http://tempuri.org/currDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrint">
      <soap12:operation soapAction="http://tempuri.org/getPrint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouse">
      <soap12:operation soapAction="http://tempuri.org/getWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShiperReceiver">
      <soap12:operation soapAction="http://tempuri.org/getShiperReceiver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="rfidService">
    <wsdl:port name="rfidServiceSoap" binding="tns:rfidServiceSoap">
      <soap:address location="http://192.1.77.3:7766/rfidService.asmx" />
    </wsdl:port>
    <wsdl:port name="rfidServiceSoap12" binding="tns:rfidServiceSoap12">
      <soap12:address location="http://192.1.77.3:7766/rfidService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>